<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Page</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-0hmd+a0+dfJZ4b9uwS2SbFwQ9kzWCgC3EhsAGL42+iy8U8lP4M/5YIa7+GpuQZdhks1kkgZW3d55w9uOkKm2kw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Optional: Additional CSS for styling -->
    <style>
      .icon {
          font-size: 24px;
          margin-right: 10px;
      }
  </style>
  </head>
  <body>
    <header>
      <h1>Welcome to My Website</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="Recepies">Recepies</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <div class="container mt-5">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>S. No</th>
              <th>Name</th>
              <th>Age</th>
              <th>Can vote</th>
            </tr>
          </thead>
          <tbody>
            {% for person in people_data %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ person.name }}</td>
              <td>{{ person.age }}</td>
              <td>{% if person.age >= 18 %} 
                <i class="icon fas fa-thumbs-up"> Up</i>
                 {%else%}
                 <i class="icon fas fa-thumbs-down">Down</i>
                 {%endif%}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
